 .u-section-1 {
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: url('images/background2.png'), linear-gradient(to bottom, rgba(252, 246, 209, 0.5), rgba(96, 141, 190, 0.5)), linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1));
  background-size: cover, cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1699px;
}

.u-section-1 .u-text-1 {
  margin: 20px 479px 0 0;
}

.u-section-1 .u-image-1 {
  width: 400px;
  height: 319px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -319px 0 0 400px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 32px 400px 0 0;
}

.u-section-1 .u-image-2 {
  width: 43px;
  height: 51px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: -40px 803px 0 63px;
}

.u-section-1 .u-image-3 {
  width: 43px;
  height: 51px;
  margin: 31px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: -40px 717px 0 63px;
}

.u-section-1 .u-image-4 {
  width: 43px;
  height: 51px;
  margin: 31px auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: -40px 693px 0 63px;
}

.u-section-1 .u-image-5 {
  width: 43px;
  height: 51px;
  margin: 32px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: -38px 830px 0 63px;
}

.u-section-1 .u-image-6 {
  width: 276px;
  height: 300px;
  margin: -275px 83px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-11 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-style: italic;
}

.u-section-1 .u-image-7 {
  width: 470px;
  height: 360px;
  margin: 20px auto 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 279px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 287px;
    margin-top: 58px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -345px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 200px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 137px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 580px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 137px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: -63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 59px;
  }

  .u-section-1 .u-image-1 {
    width: 517px;
    height: 412px;
    margin-top: 386px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -778px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 462px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 376px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 43px;
  }

  .u-section-1 .u-text-6 {
    margin-right: -63px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 402px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 99px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 266px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 180px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 156px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 293px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: -231px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1551px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 271px;
    margin-top: 552px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -803px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 321px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 30px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 63px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -51px;
    margin-right: 0;
    margin-left: 63px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 30px;
    margin-left: 63px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 260px;
  }
}