 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #fcf6d1, #608dbe);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 2631px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 56px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-text-1 {
  font-family: "Sawarabi Gothic";
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 383px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -29px 0 0 auto;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 463px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 27px;
}

.u-section-1 .u-video-1 {
  height: 290px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 463px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 51px 265px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: -29px 0 0 auto;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 416px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-video-2 {
  width: 517px;
  height: 288px;
  margin: 0 auto;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 170px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 377px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-video-3 {
  height: 323px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0 auto;
}

.u-section-1 .u-layout-wrap-5 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-video-4 {
  height: 350px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-4 {
  position: absolute;
}

.u-section-1 .u-layout-wrap-6 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/IMG_2544.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2852px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 46px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 183px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 382px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 382px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 155px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 7px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 343px;
  }

  .u-section-1 .u-video-2 {
    width: 470px;
    height: 262px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 140px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 311px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 521px;
  }

  .u-section-1 .u-layout-wrap-6 {
    margin-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2506px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 293px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 249px;
    margin-left: -1px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 525px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 476px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 399px;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3260px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 440px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 187px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 394px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 357px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 599px;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4486px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 277px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 248px;
  }

  .u-section-1 .u-video-2 {
    width: 340px;
    height: 190px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 225px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 377px;
  }

  .u-section-1 .u-image-1 {
    min-height: 239px;
  }
}